.container_marc{
    display: grid;
    grid-template-areas: 
    'online offline'
    'online maps'
    'online maps'
    'online maps' ;
    min-height: 110vh;
    margin-top: 10vh;
    width: 80vw;
    box-sizing: border-box;
}

@media only screen and (max-width: 450px){
    .container_marc{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
}