
@import "../../color.css";

footer{
    background: #333;
    color: aliceblue;
    align-content: center;
    padding: auto;
    box-sizing: content-box;
    padding: 1rem;
}

.social_list{
    display: flex;
    flex-wrap:wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    list-style-type: none;
}
.social_iteam{
    margin:0 2rem;
    cursor: pointer;
    flex-wrap: nowrap;
    margin: 2%;
    
}
.social_iteam:hover{
    color:var(--primary-color);
}
.social_iteam svg{
    font-size: 1.5rem;
    text-wrap:nowrap;
}
@media only screen and (max-width: 490px){


}