footer{
    border: 1px solid red;
    background-color: #333;
    color: aliceblue;
    padding: 3%;
}

.social_list{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    border: 1px solid red;
}
.social_iteam{
    margin:0 2rem;
    cursor: pointer;
}
.social_iteam:hover{
    color:rgb(21, 130, 225);;
}
.social_iteam svg{
    font-size: 1.5rem;
}
