
.navbar{
    display: flex;
    flex-wrap: nowrap;
    background-color: #1885fa96;
    position: fixed;
    width: 100%;
    height: 10vh;
    transition: 1s;
    box-sizing: content-box;
}

.scrolled{
    background: none;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(8px);
    transition: 1s;
}

.list{  
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    flex-flow: row nowrap;
    width: 100%;
    text-decoration: none;
    align-items: stretch;
    margin-right: 4%;
}

.item{
    
    /* border:1px solid red; */
    align-content: center;
    padding: 0.5% 2% 0.5% 2%; 
    flex-grow: 1%;
    
}
.item a {
    color: aliceblue;
    text-decoration: none;
}
.item a:hover{
    color: rgb(21, 130, 225);
   
}
.scrolled .item a{
    color: black;
}
.scrolled .item a:hover{
    color: rgb(21, 130, 225);
}

.navbar_logo{
    margin-left: 4%;
    height: 100%;
}
.navbar_logo{
    margin-left: 4%;
}

.navbar_logo img{
    height: 100%;
}
