@import "../../../color.css";

#callBookContainer{
    display: flex;
    flex-direction: column;
    grid-area: offline;
    margin: 7vh;
    justify-content: start;
    box-shadow: 0px 0px 16px #999;
}
.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3% 0;
}
.titleContainer h1{
    width: 60%;
    text-align:center;
    margin: 0 1% ;
    font-size: 4vh;
    color: var(--primary-color);
}
.titleIcon{
    height: 60%;
    width: auto;
    color:var(--primary-color);
    padding: 1px;
}
#callBookContainer ul{
    list-style: none;
    text-align: center;
    align-content: start;
}
#callBookContainer ul li h2{
    list-style: none;
    text-align: center;
    margin-Top: 10%;
    font-size: auto;
    color: var(--secundary-color);
}
#callBookContainer ul li p{
    margin: 5% 0;
    height:  10%;
    font-size: 180%;
    color: var(--primary-color);
}
.fakeicon{
    opacity: 0;
}

@media only screen and (max-width: 1170px){
    #callBookContainer ul li h2{
        font-size: 150%;
    }
    #callBookContainer ul li p{
        font-size: 180%;
    }
    .titleContainer h1{
        font-size: 150%;
    }
    .titleIcon{
        height: 60%;
    }
}
@media only screen and (max-width: 780px){
    #callBookContainer{
        margin: 3vh;
    }
    #callBookContainer ul li h2{
        font-size: 150%;
        margin: 2% 0;
    }
    #callBookContainer ul li p{
        font-size: 180%;
    }
    .titleContainer h1{
        width: 60%;
        margin: 0 1% ;
        font-size: 160%;
    }
    .titleIcon{
        height: 60%;
    }
}

@media only screen and (max-width: 490px){
    #callBookContainer ul li h2{
        font-size: 135%;
        margin: 2% 0;
    }
    #callBookContainer ul li p{
        font-size: 160%;
    }
    .titleContainer h1{
        width: 60%;
        margin: 0 1% ;
        font-size: 150%;
    }
}